.blue {
  color: #0fafe9;
}

.bg-blue {
  background-color: #0fafe9;
}

.bg-lightblue {
  background-color: #e7f7fd;
}

.grey {
  color: grey;
}

.white {
  color: white;
}

.price-card {
  width: 50%;
  height: 8%;
  margin: 0px;
  background-color: #0fafe9;
  color: white;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
}

.align-left {
  text-align: left;
}

.align-right {
  margin: auto;
}

.align-center {
  text-align: center;
}

.float-right {
  float: right;
}

.f-12 {
  font-size: 12px;
}

table tr:last-child thead:first-child {
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

button:hover {
  background-color: #0fafe9;
}

.dropdown {
  width: 120px;
  background-color: transparent;
}

.heart {
  position: absolute;
  right: 15px;
  top: 15px;
}
.heart:hover {
  cursor: pointer;
}
