@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.logo {
  cursor: pointer;
  color: #0fafe9;
  /* margin-right: auto; */
}
h1 {
  font-weight: 700;
  text-align: left;
}

/* header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
} */
.nav-links {
  list-style: none;
  margin-left: auto;
  /* display: flex; */
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  color: black;
}
.nav-links li a {
  color: black;
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: #0088a9;
}
.nav-links img {
  height: auto;
  width: 20px;
  margin-right: 5px;
  float: left;
}
.nav-links i {
  margin-right: 5px;
}
.nav-links i:hover {
  color: #0088a9;
}
.nav-link {
  margin: auto;
}
.dropdown {
  margin: auto;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #0fafe9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
